body {
	width: 208mm;
	height: 297mm;
}

main {
	width: 208mm;
	height: 297mm;
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-template-rows: repeat(40,1fr);
	justify-items: stretch;
	grid-gap: 0 0;
}

article {
	border: 0.2mm solid #ddd;
	width: 25.4mm;
	height: 14mm;
	/*Images
	----------------
	@donutsparadise.png
	1.png
	*/
	background-image: url("./assets/img/1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}